
.main-content {
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  cursor: pointer;
}
.main-content ul{
    list-style-type: none;
    font-size: larger;
    color: #ffffff;
}
.smartDisplayIcon{
 position: relative;
  top: 50%;
  left: 100px;
  width: 200px;
}
